.App {
  text-align: center;
}

.App-logo {
  margin-top: -90px;
  float: left;
  margin-left: -200px;
  pointer-events: none;
  width: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation:  App-logo-spin infinite 1s alternate;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: auto;
}

.App-link {
  color: #61dafb;
}

#homeBody {
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: scale(.25);
  }
  to {
    transform: scale(0.21);
  }
  
}